<!-- Blog Grid Section -->
<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Thoughts</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            {% for post in site.categories['blog'] %}
                <div class="col-md-4 blog-item">
                    <a href="{{ post.url }}" class="blog-link">
                        <h5>{{ post.title }}</h5>
                        <p>{{ post.excerpt | strip_html}}</p>
                    </a>
                </div>

                {% assign loopindex = forloop.index | modulo: 3 %}
                {% if loopindex == 0 %}
        </div>
        <div class="row">
                {% endif%}
            {% endfor %}
        </div>
    </div>
</section>
