<!-- Blog -->
<section id="blog-list">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>{{ site.nav.labels.blog }}</h2>
                <hr class="star-primary">
            </div>
        </div>
        {% for post in site.categories['blog'] %}
            {% if post.layout == 'blog_post' %}
                <div class="col-md-12 blog-item">
                    <a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
                    <ul class="list-inline">
                        <li>
                            <i class="fas fa-calendar-alt"></i>
                            <strong>Date</strong>: {{ post.date | date_to_string  }}
                        </li>
                        <li>
                            <i class="fas fa-clock"></i>
                            {{ post.content | number_of_words | divided_by: 180 | round}} min read
                        </li>
                    </ul>
                    <p>{{ post.content | markdownify | strip_html | truncatewords: 50, ''}} <a href="{{ post.url }}" class="link">[...]</a></p>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</section>

