<article class="blog-post portfolio-post" itemscope itemtype="http://schema.org/BlogPosting">
    <header>
      <h1 itemprop="name headline">{{ page.title | escape }}</h1>
      <hr class="star-primary">
    </header>
    <div class="content" itemprop="articleBody">
      <img src="/img/portfolio/{{ page.img }}" class="img-responsive img-centered" alt="{{ page.alt }}">
      <ul id="project-overview" class="list-inline item-details">
        {% for item in page.overview %}
          <li>
            <i class="fas {{ site.portfolio.icons | map: item[0] | first }}"></i>
            <strong>{{ item[0] | replace: '-', ' ' }}:</strong> {{ item[1] }}
          </li><br/>
        {% endfor %}
      </ul>

      {{ content }}

      <div class="skills">
        <h3>Technologies Used</h3>
        <ul>
          {% for skilltype in page.skills %}
            <li>
                <i class="fas {{ site.portfolio.icons | map: skilltype[0] | first }}"></i>
                <strong>{{ skilltype[0] | capitalize }}:</strong> <span>{{ skilltype[1] | join: ', '}}</span>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <footer>
      <div class="content">
        <h2>Other Projects</h2>
        <hr class="star-primary">
        <div class="container content">
          <div class="row">
            <div class="col-md-6 col-xs-6">
              <a class="prev" href="{{page.previous.url}}">
                {% if page.previous.url and page.previous.categories contains "portfolio" %}
                  <span>&laquo;</span>
                  {{page.previous.title}}
                {% endif %}
              </a>
            </div>
            <div class="col-md-6 col-xs-6 text-right pr-2">
              <a class="next" href="{{page.next.url}}">
                {% if page.next.url and page.next.categories contains "portfolio" %}
                  <span>&raquo;</span>
                  {{page.next.title}} 
                {% endif %}
              </a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </article>