<article class="blog-post portfolio-post" itemscope itemtype="http://schema.org/BlogPosting">
    <header>
      <h1 itemprop="name headline">Project: {{ page.title | escape }}</h1>
      <hr class="star-primary">
    </header>
    <div class="content" itemprop="articleBody">
      <img src="/img/portfolio/{{ page.img }}" class="img-responsive img-centered" alt="{{ page.alt }}">
      <ul id="project-overview" class="list-inline item-details">
        <li><strong>{{ site.portfolio.labels.project-date }}:</strong> {{ page.project-date }}</li><br/>
        <li>
            <strong>
              {% assign is_multiple_apps = page.application | split: "," | size %}
              {% if is_multiple_apps > 1  %}
                  {{ site.portfolio.labels.application }}s:
              {% else %} 
                  {{ site.portfolio.labels.application }}:
              {% endif  %}
            </strong>
            {{ page.application }}
        </li><br/>
        <li><strong>{{ site.portfolio.labels.client }}:</strong> {{ page.client }}</li><br/>
      </ul>
      {{ content }}
      <div class="skills">
        <h3>Technologies Used</h3>
        <div class="row">
            {% for skilltype in page.skills %}
            <div class="skill col-md-3">
                <h5>{{ skilltype[0] }}</h5>
                <ul>
                    <li>{{ skilltype[1] | join: '</li><li>'}}</li>
                </ul>
            </div>
            {% endfor %}
        </div>
      </div>
    </div>
    <footer>
      <div class="container">
        <h2>Other Projects</h2>
        <a class="prev" href="{{page.previous.url}}">
          {% if page.previous.url and page.previous.categories contains "portfolio" %}
            <span>&laquo;</span>
            {{page.previous.title}}
          {% endif %}
        </a>
      
        <a class="next" href="{{page.next.url}}">
          {% if page.next.url and page.next.categories contains "portfolio" %}
            <span>&raquo;</span>
            {{page.next.title}} 
          {% endif %}
        </a>
      </div>
    </footer>
  </article>