{% for post in site.categories['portfolio'] %}
    <div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                            <ul class="list-inline item-details">
                                <li><strong>{{ site.portfolio.labels.client }}:</strong> {{ post.client }}</li>
                                <li><strong>{{ site.portfolio.labels.project-date }}:</strong> {{ post.project-date }}</li>
                                <li><strong>{{ site.portfolio.labels.application }}:</strong> {{ post.application }}</li>
                            </ul>
                            <div class="entry text-left">
                                {{ post.content }}
                            </div>
                            <div class="row tags text-left">
                                <ul>
                                    <li>
                                        <strong>{{ site.portfolio.labels.languages }}</strong>: <span>{{ post.languages | join: '</span><span>'}}</span>
                                    </li>
                                    <li>
                                        <strong>{{ site.portfolio.labels.concepts }}</strong>: <span>{{ post.concepts | join: '</span><span>'}}</span>
                                    </li>
                                    <li>
                                        <strong>{{ site.portfolio.labels.frameworks }}</strong>: <span>{{ post.frameworks | join: '</span><span>'}}</span>
                                    </li>
                                    <li>
                                        <strong>{{ site.portfolio.labels.tools }}</strong>: <span>{{ post.tools | join: '</span><span>'}}</span>
                                    </li>
                                    <li>
                                        <strong>{{ site.portfolio.labels.stack }}</strong>: <span>{{ post.stack | join: '</span><span>'}}</span>
                                    </li>
                                </ul>
                            </div>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> {{ site.portfolio.labels.modal-close }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
