{% for post in site.categories['portfolio'] %}
    <div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                            <ul class="list-inline item-details">
                                <li><strong>{{ site.portfolio.labels.client }}:</strong> {{ post.client }}</li>
                                <li><strong>{{ site.portfolio.labels.project-date }}:</strong> {{ post.project-date }}</li>
                                <br/>
                				<li>
                                    <strong>
                                        {% assign is_multiple_apps = post.application | split: "," | size %}
                						{% if is_multiple_apps > 1  %}
                                            {{ site.portfolio.labels.application }}s:
                                        {% else %} 
                                            {{ site.portfolio.labels.application }}:
                                        {% endif  %}
                                    </strong>
                                     {{ post.application }}
                                </li>
                            </ul>
                            <div class="entry text-left">
                                {{ post.content }}
                            </div>
                            <div class="skills">
                                <div class="text-center">
                                    <h3>Skills Used</h3>
                                    <hr class="star-light">
                                </div>
                                <div class="row">
                                    <div class="skill col-md-3 top-buffer">
                                        <h5>{{ site.portfolio.labels.languages }}</h5>
                                        <ul>
                                            <li>{{ post.languages | join: '</li><li>'}}</li>
                                        </ul>
                                    </div>
                                    <div class="skill col-md-3 top-buffer">
                                        <h5>{{ site.portfolio.labels.concepts }}</h5>
                                        <ul>
                                            <li>{{ post.concepts | join: '</li><li>'}}</li>
                                        </ul>
                                    </div>
                                    <div class="skill col-md-3 top-buffer">
                                        <h5>{{ site.portfolio.labels.tools }}</h5>
                                        <ul>
                                            <li>{{ post.tools | join: '</li><li>'}}</li>
                                        </ul>
                                    </div>
                                    <div class="skill col-md-3 top-buffer">
                                        <h5>{{ site.portfolio.labels.stack }}</h5>
                                        <ul>
                                            <li>{{ post.stack | join: '</li><li>'}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> {{ site.portfolio.labels.modal-close }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
