<!-- Portfolio -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>{{ site.nav.labels.portfolio }}</h2>
                <hr class="star-primary">
            </div>
        </div>
        {% for post in site.categories['portfolio'] %}
            <div class="row" style="padding: 30px 0">
                <div class="col-md-4">
                    <img src="/img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
                </div>
                <div class="col-md-8">
                    <a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
                    <p>{{ post.summary }}</p>
                    {% for skilltype in post.skills %}
                        <p><strong>{{ skilltype[0] }}</strong>: {{ skilltype[1] | join: ', '}}</p>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</section>
