/* Site Level */
body {
  font-family: "PT Sans", "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}

h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 30px;
}

code {
  background-color: #eee;
  color: #393318;
}

div.blog-modal article blockquote p {
  margin: 0;
}

.btn-default {
  background: #{{ site.color.secondary-dark }};
  padding: 15px 45px;
}
.btn-default:hover {
  background: #{{ site.color.secondary }};
}

/* Home */

header hr.star-light:after,
header hr.star-primary:after {
    content: "\f121";
}

header > div.container > div > div > img {
    width: 300px;
    border-radius: 150px;
}

/* About */

section#about hr.star-light:after,
section#about hr.star-primary:after {
    content: "\f11a";
}

section#about div#interests hr.star-light:after,
section#about div#interests hr.star-primary:after {
    content: "\f085";
}

section#about div.row {
margin: 10px 0;
}

section#about div#left p {
  text-align: right;
}

section#about p a {
  color: #{{ site.color.secondary-light }};
}

section#about ul  {
  padding: 0;
  margin: 0 0 15px 20px;
  margin-bottom: 15px;
}

/* Portfolio */

section#portfolio hr.star-light:after, section#portfolio hr.star-primary:after {
    content: "\f0b1";
}

#portfolio .portfolio-item .portfolio-link {
  border: 1px solid #{{ site.color.secondary }};
}

#portfolio .portfolio-item .portfolio-link .caption {
  background: #{{ site.color.secondary-dark }};
}

#portfolio .portfolio-item .portfolio-link .caption:hover {
  opacity: .8;
}

/* Portfolio Posts */

div.portfolio-modal hr.star-primary:after {
  content: "\f0b1";
}

div.portfolio-modal div.tags {
  margin: 20px 0;
}

div.portfolio-modal div.tags ul {
  list-style-type: none;
  padding-left: 0;
}

div.portfolio-modal div.tags ul li {
  font-size: 14px;
  margin: 7px 0;
}

div.portfolio-modal div.tags span {
  font-size: 12px;
  color: #fff;
  background: #{{ site.color.secondary-light }};
  text-decoration: none;
  margin: 0px 4px;
  padding: 4px 8px;
  border-radius: 6px;
}

.portfolio-modal .close-modal .lr, .portfolio-modal .close-modal .lr .rl {
  background-color: #{{ site.color.primary }};
}

div.portfolio-modal p, div.portfolio-modal li, div.portfolio-modal h3, div.portfolio-modal h4, div.portfolio-modal h5 {
  color: #{{ site.color.blog-text }}
}

/* Blog */

section#blog hr.star-primary:after, div.blog-modal hr.star-primary:after {
  content: "\f0eb";
}

section#blog div.blog-item {
  padding: 15px 15px;
}

@media(min-width:768px) {
  section#blog div.blog-item {
    min-height: 129px;
  }
}

section#blog div.blog-item:hover{
  background: #{{ site.color.secondary }};
}

section#blog div.blog-item p{
  font-size: 17px;
}

section#blog div.blog-item:hover h5{
  color: #fff;
}

@media(min-width:768px) {
  section#blog div.blog-item h5{
    margin: 0;
  }
}

section#blog div.blog-item:hover a{
  text-decoration: none;
}

/* Blog Posts */

div.blog-modal article {
  text-align: left;
}

div.blog-modal article p {
  margin: 1em 0;
}

div.blog-modal article li {
  font-size: 20px;
}

div.blog-modal p, div.blog-modal li, div.blog-modal h3, div.blog-modal h4, div.blog-modal h5 {
  color: #{{ site.color.blog-text }}
}

div.blog-modal a {
  color: #{{ site.color.link }}
}

/* Contact */

section#contact {
    color: #fff;
    background: #{{ site.color.primary }};
}

section#contact hr.star-primary {
  border-color: #fff;
}

section#contact hr.star-light:after, section#contact hr.star-primary:after {
    content: "\f095";
}

section#contact hr.star-primary::after {
  color: #fff;
  background-color: #{{ site.color.primary }};
}

section#contact form div.controls{
    background: #fff;
    margin: 10px;
}

section#contact button{
    color: #fff;
    background: #{{ site.color.secondary }};
}

section#contact button:hover{
    color: #fff;
    border-color: #{{ site.color.secondary }};
    background: #{{ site.color.secondary-dark }};
}

/* Footer */

.btn-social {
  font-size: 25px;
}

.btn-codeschool i{
  position: relative;
  top: 2px;
}

footer .footer-col {
    margin-bottom: 30px;
}

footer p {
  font-size: 15px;
}

footer p a, footer p a:hover{
  color: #{{ site.color.secondary-light }};
}
